.react-switch-checkbox {
    height: 0;
    width: 0;
    position: absolute;
    visibility: hidden;
}

.react-switch {
    cursor: pointer;
    width: 288px;
    height: 60px;
    background: var(--background-color-2);
    border-radius: 30px;
    position: relative;
    transition: background-color 0.2s;
}

.react-switch .react-switch-button {
    position: absolute;
    z-index: 1;
    top: 4px;
    left: 4px;
    width: 140px;
    height: 50px;
    border-radius: 45px;
    transition: 0.2s;
    color: var(--text-color-1);
    font-size: 14pt;
    background: var(--background-color-1);
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.react-switch-checkbox:active + .react-switch-button {
    width: 60px;
}

.react-switch-labels {
    z-index: 0;
    height: 100%;
    font: 14pt "Segoe UI", Verdana, sans-serif;
}

.react-switch-labels span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.react-switch-labels span:first-child {
    left: 0;
}

.react-switch-labels span:last-child {
    right: 0;
}
